<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
	<setting id="output_format" type="text" label="30002" default="%n - S%sE%e - %t%x"/>
	<setting id="organise"      type="bool" label="30003" default="true"/>
	<setting id="partial"       type="bool" label="30004" default="false"/>
	<setting id="recursive"     type="bool" label="30005" default="false"/>
	<setting id="the"           type="bool" label="30006" default="false"/>
	<setting id="dry_run"       type="bool" label="30007" default="false"/>
        <setting id="debug"         type="bool" label="30008" default="false"/>
    </category>
</settings>
